body {
  font-family: "Nunito", sans-serif;
}

.axis {
  font-family: "Nunito", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header"
    "scatter other";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 500px;
}

div#header {
  grid-area: header;
  text-align: center;
}

div#scatter-container {
  height: 630px;
  border-radius: 20px;
  background-color: whitesmoke;
  grid-area: scatter;
  display: grid;
  grid-template-areas: "headerscat headerscat"
      "settings display";
  grid-template-rows: 0.1fr 0.9fr;
  grid-template-columns: 0.3fr 0.7fr;
}

div#scatter-header{
  grid-area: headerscat;
  text-align: center;
}
div#scatter-interactive {
  grid-area: settings;
  display: grid;
  grid-template-areas:
    "points"
    "density"
    "regression"
    "selectAxis";
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: auto;
}

div#points {
  display: inline-block;
  grid-area: points;
  text-align: center;

  margin: 10px 10px 10px 10px;
}

#points p {
  width: 50px;
  margin-left: 20px;
}

div.slider {

  display: flex;
  align-items: center;
  justify-content: center;
}

div.slider {

  display: flex;
  align-items: center;
}

div#density {
  grid-area: density;
  display: flex;
  align-items: center;
  margin: auto;
}

div#regression {
  grid-area: regression;
  display: flex;
  align-items: center;
  margin: auto;
}

#density input {
  margin-left: 20px;
}

#regression input {
  margin-left: 20px;
}
div#selectAxis {
  grid-area: selectAxis;
  text-align: center;
  margin: auto;

}
div#selectAxis p {
    margin: 5px 5px 5px 5px;
}

div.allAxis {
    display: flex;
    align-items: center;
    justify-content: center;
}
div#scatterplot {
  border-radius: 25px;
  grid-area: display;
  display: grid;
  position: relative;
  align-items: center;
  justify-items: center;
}



div#boxplot {
  grid-area: other;
}


div.tooltip {
  position: absolute;
  text-align: center;
  padding: .2rem;
  background: #313639;
  color: #f9f9f9;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  font-size: .7rem;
}