body {
  font-family: "Nunito", sans-serif;
}

.axis {
  font-family: "Nunito", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header"
    "scatter boxplot"
    "bubbleplot bubbleplot";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 630px 1000px;
}

div#header {
  grid-area: header;
  text-align: center;
}

div#scatter-container {
  border-radius: 20px;
  background-color: whitesmoke;
  border: 2px solid lightgray;
  margin-right: 20px;
  grid-area: scatter;
  display: grid;
  grid-template-areas:
    "headerscat headerscat"
    "settings display";
  grid-template-rows: 0.1fr 0.9fr;
  grid-template-columns: 0.3fr 0.7fr;
}

div.plot-header {
  grid-area: headerscat;
  text-align: center;
}

div#boxplot-container {
  border-radius: 20px;
  border: 2px solid lightgray;
  background-color: whitesmoke;
  grid-area: boxplot;
  display: grid;
  grid-template-areas:
    "headerbox headerbox"
    "settingsbox displaybox";
  grid-template-rows: 0.1fr 0.9fr;
  grid-template-columns: 0.2fr 0.8fr;
}

div#boxplot-header {
  grid-area: headerbox;
  text-align: center;
}

div#boxplot-settings {
  grid-area: settingsbox;
  margin-left: 15px;
}

div#perartist {
  grid-area: displaybox;
}

div#bubbleplot-container {
  border-radius: 20px;
  background-color: whitesmoke;
  border: 2px solid lightgray;
  margin-top: 20px;
  grid-area: bubbleplot;
  display: grid;
  grid-template-areas:
    "headersbubble"
    "settingsbubble"
    "displaybubble";
  grid-template-rows: 0.05fr 0.05fr 1fr;
  grid-template-columns: auto;
}

div#bubbleplot-header {
  grid-area: headersbubble;
  text-align: center;
}

div#bubbleplot-settings {
  grid-area: settingsbubble;
  display: grid;
  grid-template-areas: "date amount selection reset";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

div#date {
  grid-area: date;
  margin-left: 10px;
}
div#bubbles-amount {
  grid-area: amount;
  display: inline-block;
  text-align: center;
  margin: 10px 10px 10px 10px;
}

div.slider-bubble {
  display: flex;
  align-items: center;
  justify-content: center;
}

div#random {
  grid-area: selection;
  display: flex;
  align-items: center;
  margin: auto;
}

div#top {
  grid-area: selection;
  display: flex;
  align-items: center;
  margin: auto;
}

#top input {
  margin-left: 50px;
}

#random input {
  margin-left: 17px;
}

div#reset {
  grid-area: reset;
  margin-right: 10px;
}

div#bubbleplot {
  border-radius: 25px;
  grid-area: displaybubble;
  display: grid;
  position: relative;
  align-items: center;
  justify-items: center;
}

div#scatter-interactive {
  grid-area: settings;
  display: grid;
  grid-template-areas:
    "points"
    "density"
    "regression"
    "selectAxis";
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: auto;
}

div#points {
  display: inline-block;
  grid-area: points;
  text-align: center;

  margin: 10px 10px 10px 10px;
}

#points p {
  width: 50px;
  margin-left: 20px;
}

div.slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.slider {
  display: flex;
  align-items: center;
}

div#density {
  grid-area: density;
  display: flex;
  align-items: center;
  margin: auto;
}

div#regression {
  grid-area: regression;
  display: flex;
  align-items: center;
  margin: auto;
}

#density input {
  margin-left: 20px;
}

#regression input {
  margin-left: 20px;
}

div#selectAxis {
  grid-area: selectAxis;
  text-align: center;
  margin: auto;
}

div#selectAxis p {
  margin: 5px 5px 5px 5px;
}

div.allAxis {
  display: flex;
  align-items: center;
  justify-content: center;
}

div#scatterplot {
  border-radius: 25px;
  grid-area: display;
  display: grid;
  position: relative;
  align-items: center;
  justify-items: center;
}

div#boxplot {
  border-radius: 25px;
  grid-area: display;
  display: grid;
  position: relative;
  align-items: center;
  justify-items: center;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 0.2rem;
  background: #313639;
  color: #f9f9f9;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  font-size: 0.7rem;
}

div#selectGenre {
  text-align: center;
}
